label {
    font-weight: 450;
}

input[type=checkbox] {
    cursor: pointer;
}

.card {
    margin-bottom: 10px;
}

.bg {
    position: relative;
    overflow: hidden;
}

.bg_img {
    position: absolute;
    inset: 0;
    background-image: url('https://images.pexels.com/photos/40568/medical-appointment-doctor-healthcare-40568.jpeg?auto=compress&cs=tinysrgb&w=1200');
    filter: blur(5px);
}
